#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_dgdollartest2
#build/dgdollartest2d::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_dgdollartest2)

DEB_INSTALL_EXAMPLES_dgdollartest2d += debian/examples/*
DEB_INSTALL_MANPAGES_dgdollartest2d += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix dgdollartest2d
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f dgdollartest2-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake dgdollartest2-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_dgdollartest2
	src/test_dgdollartest2

# Ensure wrapper is set executable
binary-post-install/dgdollartest2d:
	chmod +x $(cdbs_curdestdir)usr/bin/dgdollartest2d
binary-post-install/dgdollartest2-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/dgdollartest2-qt
